/*#3366cc*/


*{
/*	border: solid black 1px;
*/	margin: 0;
	padding: 0;
	font-family: arial;
	overflow-x: hidden;
}

*:focus {
    outline: none;
}

header {
	width: 100vw;
}

header nav {
	display: flex;
	position: relative;
	width: 100vw;
	height: 70px;
	border-radius: 0 0 6px 6px;
	background-color: #385ea8;
	color: white;
	z-index: 10;

}

header nav div{
	margin-top: 5px;
	margin-left: 10px;
}

header nav ul{
	margin: auto 0 auto auto;
}

header nav ul a{
	text-transform: none;
	text-decoration: none;
	color: inherit;
}

header nav ul li{
	display: inline;
	margin: 30px;
}

header nav div img{
	max-height: 60px;
}

header nav span{
	display: none;
}

header nav #side_menu{
	display: none;
}

header nav #side_menu{
}


/* Aqui será feito o estilo da primeira sessão*/

#primeiro div{
	background-image: url('../_img/landing-background-logo.jpg');
	background-position: center;
	background-size: cover;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center; 
	color: white;
	position: relative;
	top: -70px;
	z-index: 1;
}

#primeiro div h2{
	margin-top: 250px;
	font-size: 30px;
}

#primeiro div h3{
	margin-top: 15px;
	font-size: 20px;
}

#primeiro div button {
	width: 200px;
	height: 70px;
	border-radius: 6px;
	margin-right:  auto;
	margin-left: auto;
	margin-top: 20px;
	background-color: #385ea8;
	color: white;
	font-size: 22px;
	border:none;
}



/*Inicio da segunda sessão */

#segundo .container {
	max-width: 100vw;
}

#segundo .container h2{
	text-align: center;
	font-size: 36px;
	color: #385ea8;
}

#segundo .container #master-div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	height: 500px;
	border: solid #385ea8 1px;
	border-radius: 4px;
	width: 95vw;
	margin-top: 100px;
	overflow-y: hidden;
	padding-top: 60px;
}

#segundo .item img{
	height: 300px;
	padding: 0;
	margin: 0;
}

.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 10px;
}

.blue-label{
	margin: auto;
	margin-top: 30px;
	height: auto;
	padding: 20px;
	width: 95vw;
	border-radius: 5px;
	background-color: #385ea8;
	text-align: center;
	color: white;
}

/*Terceira sessão (onde irão ficar os celulares)*/

.telasCelulares{
	width: 100vw;
	display: flex;
}


.telasCelulares .celular{
	display: flex;
	float: left;
	margin-top: 30px;
	height: 100vh;
	max-width: 40vw;
/*	background-image: url('../_img/celular.png');
*/	background-size: contain;
	background-repeat: no-repeat;
	margin-left: 30px;
	z-index: 1;
}

/*.telasCelulares .celular div{
	position: inherit;

}*/

.telasCelulares .info{
	margin-left:  30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 55vw;
	border: solid #385ea8 1px;
	text-align: center;
	border-radius: 5px;
	margin-right: 140px;
	margin-top: 100px;
	float: right;
	height: 600px;
	padding: 20px;
}

.telasCelulares .info h3{
	margin-bottom: auto;
	font-weight: bold;
	font-size: 40px;
}

.telasCelulares .info p{
	margin-bottom: auto;
	font-size: 16px;
}

.telasCelulares .info button{
	margin-top: 80px;
	height: 60px;
	width: 200px;
	background-color: white;
	border: solid #385ea8 2px;
	border-radius: 10px;
	color: #385ea8;
	font-size: 20px;
}

.direito .celular{
	display: flex;
	float: left;
	margin-top: 30px;
	height: 100vh;
	max-width: 40vw;
/*	background-image: url('../_img/celular.png');
*/	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 30px ;
	z-index: 1;
}

.direito .info{
	float: left;
}

#bridge-cel {
	text-align: center;
}

#bridge-cel button{
	margin-top: 30px;
	height: 60px;
	width: 200px;
	background-color: #385ea8;
	border: solid #385ea8 2px;
	border-radius: 10px;
	color: white;
	font-size: 20px;
	margin-right: ;
	margin-left: auto;
}

/*Aqui começa o footer*/
#footer #depoimentos{
	margin-top: 100px;
	height: auto;
}

.footer-text{
	margin: 10px;
	font-size: 400%;
	height: auto;
	border-top: solid #a6a6a6 2px;
	border-bottom: solid #a6a6a6 2px;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.footer-text p{
	margin-left: 30px;
	color:#385ea8;
}

#footer #depoimentos #depo-carousel{
	height: auto;
}

#footer #novidades{
	margin-top: 100px;
}

#footer #novidades #noticias-carousel .item{
	margin-top: 30px;
	text-align: center;
}

#footer #novidades #noticias-carousel .item p{
	margin-top: 10px;
}

#footer #footer-footer .footer-text{
	margin-top: 100px;
	height: 50px;
	border-bottom: none;
}

#footer #footer-footer .footer-text ul{
	display: inline-block;
	font-size: 20px;
	margin: auto;
}

#footer #footer-footer .footer-text a{
	text-transform: none;
	text-decoration: none;
	color: black;

}

#footer #footer-footer .footer-text li{
	display: inline;
	margin-right: 100px;
	margin-left: 100px;
}

#footer #novidades #noticias-carousel .item img{ 
	margin:20px 0 20px 0;
}