/*#3366cc*/


*{
/*	border: solid black 1px;
*/	margin: 0;
	padding: 0;
	font-family: arial;
	overflow-x: hidden;
}

header {
	width: 100vw;
}

header nav {
	display: flex;
	position: relative;
	width: 100vw;
	height: 70px;
	border-radius: 0 0 6px 6px;
	background-color: #3366cc;
	color: white;
	z-index: 10;

}

header nav div{
	margin-top: 10px;
}

header nav ul{
	margin: auto 0 auto auto;
}

header nav ul li{
	display: inline;
	margin: 30px;
}


/* Aqui será feito o estilo da primeira sessão*/

#primeiro div{
	background-image: url('../_img/foto-slider.jpeg');
	background-position: center;
	background-size: cover;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center; 
	color: white;
	position: relative;
	top: -70px;
	z-index: 1;
}

#primeiro div h2{
	margin-top: 250px;
	font-size: 30px;
}

#primeiro div h3{
	margin-top: 15px;
	font-size: 20px;
}

#primeiro div button {
	width: 200px;
	height: 70px;
	border-radius: 6px;
	margin-right:  auto;
	margin-left: auto;
	margin-top: 20px;
	background-color: #3366cc;
	color: white;
	font-size: 22px;
	border:none;
}



/*Inicio da segunda sessão */

#segundo .container {
	max-width: 100vw;
}

#segundo .container h2{
	text-align: center;
	font-size: 36px;
	color: #3366cc;
}

#segundo .container #master-div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	height: 500px;
	border: solid #3366cc 1px;
	border-radius: 4px;
	width: 95vw;
	margin-top: 100px;
	overflow-y: hidden;
}

#segundo .item img{
	height: 300px;
	padding: 0;
	margin: 0;
}

.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 10px;
}