/*#3366cc*/


*{
/*	border: solid black 1px;
*/	margin: 0;
	padding: 0;
	font-family: arial;
}

*:focus {
    outline: none;
}

body{
	overflow-x: hidden;
	width: 100vw;
}

nav a{
	color: #fff !important;
}

nav a:hover{
	background-color: #3a4ec1 !important;
}

.navbar-inverse{
	background-color: #385ea8 !important;
}

.navbar-toggle{
	border-color: white !important;
}

.navbar-toggle:hover{
	background-color: rgba(0,0,0,0.2)!important;
}

.navbar-brand {
	padding: 0!important;
	margin-left: 10px;
	margin-right: 20px;
}

.navbar-brand img{
	height: 50px;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: -0px!important;
}


/* Aqui será feito o estilo da primeira sessão*/

#primeiro{
	width: 100vw;
}

#primeiro div{
/*	margin-top: 1px;
*/	background-image: url('../_img/landing-background-logo.jpg');
	background-position: center;
	background-size: cover;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	color: white;
	position: relative;
	top: ;
	z-index: 1;
}

#primeiro div h2{
	margin-top: 250px;
	font-size: 30px;
}

#primeiro div h3{
	margin-top: 15px;
	font-size: 20px;
}

#primeiro div button {
	width: 200px;
	height: 70px;
	border-radius: 6px;
	margin-right:  auto;
	margin-left: auto;
	margin-top: 20px;
	background-color: #385ea8;
	color: white;
	font-size: 22px;
	border:none;
}

#primeiro div button:hover {
	background-color: #3a4ec1;
}



/*Inicio da segunda sessão */

#segundo .container {
	padding: 0;
	width: 100%;
}

#segundo .container h2{
	margin-top: 20px;
	text-align: center;
	font-size: 36px;
	color: #385ea8;
}

#segundo .container #master-div{
	padding: 0;
	margin: 0;
	display: block;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	height: ;
/*	border: solid #385ea8 1px;
*/	border-radius: 4px;
	width: ;
	margin-top: 100px;
	overflow-y: hidden;
	/*padding: 30px 0 20px 0;*/
}

#segundo .owl-stage{

}
#segundo .item img{
	height: 200px;
	padding: 0;
	margin: 0;
}

.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 10px;
}

.blue-label{
	margin: auto;
	margin-top: 30px;
	height: auto;
	padding: 10px;
	width: 95vw;
	border-radius: 5px;
	background-color: #385ea8;
	text-align: center;
	color: white;
}

/*Terceira sessão (onde irão ficar os celulares)*/

.telasCelulares{
	margin-top: 20px;
	height: ;
	width: ;
	display: block;
	align-items: ;
	justify-content: ;
}


.telasCelulares .celular{
	float: left;
	height: auto;
	/*display: flex;
	margin: 30px;
	width: 170px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: 30px;
	z-index: 1;*/
}

.telasCelulares .celular img{
	height: ; 
}

/*.telasCelulares .celular div{
	position: inherit;

}*/

.telasCelulares .info{
	margin-left:  30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 55vw;
	border: solid #385ea8 1px;
	text-align: center;
	border-radius: 5px;
	margin-right: 140px;
	margin: 30px;
	float: right;
	height: ;
	padding: 30px;
	margin-right: ;
}

.telasCelulares .info h3{
	margin-bottom: auto;
	font-weight: bold;
	font-size: 40px;
}

.telasCelulares .info p{
	margin-bottom: auto;
	font-size: 16px;
}

.telasCelulares .info button{
	margin-top: 80px;
	height: 60px;
	width: 200px;
	background-color: white;
	border: solid #385ea8 2px;
	border-radius: 10px;
	color: #385ea8;
	font-size: 20px;
}

.telasCelulares .info button:hover{
	background-color: #385ea8;
	color: white;
}

/*.direito .celular{
	height: auto;
	display: block;
	float: ;
	background-image: url('../_img/celular.png');
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 30px ;
	z-index: 1;
}*/

.direito .info{
	float: ;
}

#bridge-cel {
	text-align: center;
}

#bridge-cel button{
	margin-top: 30px;
	height: 60px;
	width: 200px;
	background-color: #385ea8;
	border: solid #385ea8 2px;
	border-radius: 10px;
	color: white;
	font-size: 20px;
	margin-right: ;
	margin-left: auto;
}

/*Aqui começa o footer*/
#footer #depoimentos .owl-item {
	display: block;
	justify-content: center;
}

#footer #depoimentos .owl-item .item{
	margin-top: 50px;
}

.footer-text{
	margin: 10px;
	font-size: 400%;
	height: auto;
	border-top: solid #a6a6a6 2px;
	border-bottom: solid #a6a6a6 2px;
	display: block;
	flex-direction: column;
	justify-content: center;

}

.footer-text p{
	margin-left: 30px;
	color:#385ea8;
}

#footer #depoimentos #depo-carousel{
	height: auto;
}
#footer #novidades{
	margin-top: 100px;
}

#footer #novidades #noticias-carousel .item{
	margin-top: 30px;
	text-align: center;
}

#footer #novidades #noticias-carousel .item p{
	margin-top: 10px;
}

#footer #footer-footer .footer-text{
	margin-top: 100px;
	height: 50px;
	border-bottom: none;
}

#footer #footer-footer .footer-text ul{
	display: inline-block;
	font-size: 20px;
	margin: auto;
}

#footer #footer-footer .footer-text a{
	text-transform: none;
	text-decoration: none;
	color: black;

}

#footer #footer-footer .footer-text li{
	display: inline;
	margin-right: 100px;
	margin-left: 100px;
}

#footer #novidades #noticias-carousel .item img{
	margin:20px 0 20px 0;

}



/* CSS da página de entrada */

#entrar_container{
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: center;
}

#login_master{
	padding: 40px;
	background-color: rgba(0 , 0 , 0 , 0.2);
	border-radius: 7px;
	text-align: center;
	box-shadow: 6px 6px 5px #888888;
}

#login_master input{
	margin-top: 20px;
	border: none;
	padding: 10px;
	width: 300px;
	border-radius: 3px;
}

#login_master button{
	margin-top: 20px;
	background: none;
	border: none;
	background-color: #385ea8;
	color: white;
	width: 200px;
	height: 30px;
	border-radius: 5px;
	box-shadow: 2px 2px 5px #888888;
}

#login_master form a{
	text-transform: none;
	text-decoration: none;
	color: #385ea8;
	font-size: 12px;

}

#login_master form a p{
	margin-top: 5px;
}


#cadastro_container{
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: center;
}

#cadastro_master{
	padding: 40px;
	background-color: rgba(0 , 0 , 0 , 0.2);
	border-radius: 7px;
	text-align: center;
	box-shadow: 6px 6px 5px #888888;
}
#cadastro_master input{
	margin-top: 20px;
	border: none;
	padding: 10px;
	width: 300px;
	border-radius: 3px;
}

#cadastro_master button{
	margin-top: 20px;
	background: none;
	border: none;
	background-color: #385ea8;
	color: white;
	width: 200px;
	height: 30px;
	border-radius: 5px;
	box-shadow: 2px 2px 5px #888888;
}

#cadastro_master form a{
	text-transform: none;
	text-decoration: none;
	color: #385ea8;
	font-size: 12px;

}

#cadastro_master form a p{
	margin-top: 5px;
}


@media (max-width: 768px) {
    #primeiro div h2{
		font-size: 20px;
	}

	#primeiro div h3{
		font-size: 13px;
	}

	#primeiro div button {
		width: 150px;
		height: 50px;
		border-radius: 6px;
		margin-right:  auto;
		margin-left: auto;
		margin-top: 20px;
		background-color: #385ea8;
		color: white;
		font-size: 17px;
		border:none;
	}

	#segundo .container h2{
		font-size: 24px;
	}

	#segundo .container #master-div{
		margin-top: 20px;
	}

	.blue-label{
		margin-top: 30px;
		height: auto;
		padding: 2px;
		width: 95vw;
		text-align: center;
		color: white;
	}

	.blue-label h4{
		font-size: 10px;
	}

	.telasCelulares .info{
		padding: 10px !important;
		margin-top: 15px ;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border: solid #385ea8 1px;
		text-align: center;
		border-radius: 5px;
		float: left;
		padding: 30px;
	}

	.telasCelulares .info h3{
		margin-bottom: auto;
		font-weight: bold;
		font-size: 20px;
	}

	.telasCelulares .info p{
		margin-bottom: auto;
		font-size: 12px;
	}

	.telasCelulares .info button{
		margin-top: 30px;
		height: 25px;
		width: 120px;
		background-color: #385ea8;
		border: solid #385ea8 2px;
		color: #fff;
		font-size: 13px;
	}

	.telasCelulares .info button:hover{
		margin-top: 30px;
		height: 25px;
		width: 120px;
		background-color: white;
		border: solid #385ea8 2px;
		color: #385ea8;
		font-size: 13px;
	}

	.footer-text{
		margin: 10px;
		margin-top: 20px;
		font-size: 30px;
		height: auto;
		border-top: solid #a6a6a6 2px;
		border-bottom: solid #a6a6a6 2px;
		display: block;
		flex-direction: column;
		justify-content: center;

	}

	.footer-text p{
		margin-left: 10px;
		color:#385ea8;
	}
}

@media (max-width: 992px) {
    
}